/* Chat-Nachrichten */
.chat-message {
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    max-width: 80%;
}

/* Bennutzernachrichten */
.user-message {
    background-color: #E8F0F2; 
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}

/* Stil für Assistenten-Nachrichten */
.assistant-message {
    background-color: #F2F8F3; 
    margin-right: auto;
    margin-left: 0;
    text-align: left;
}

/* Stil für anklickbare Links innerhalb der Chat-Nachrichten */
a {
    color: #0C5C46; /* LiveFresh-Grün für Links */
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: underline;
    color: #08302A; /* Ein dunkleres Grün beim Hover für bessere Lesbarkeit */
}
